@keyframes heartPulse {
    50% {
        transform: scale(1.14);
        text-shadow: 0 0 35px #f2a5ba88
    }
}

@keyframes shimmer {

    0%,
    100% {
        filter: brightness(1)
    }

    50% {
        filter: brightness(1.25)
    }
}

@keyframes floatUp {
    to {
        transform: translateY(-110vh) rotate(35deg);
        opacity: 0
    }
}

@keyframes giftOpen {
    0% {
        transform: scale(1)
    }

    45% {
        transform: scale(1.12) rotate(-3deg)
    }

    100% {
        transform: scale(.2) translateY(-500px);
        opacity: 0
    }
}

.gift-box.open {
    animation: giftOpen .8s forwards
}

.spark {
    position: fixed;
    pointer-events: none;
    z-index: 70;
    color: #f5afc1;
    animation: sparkFly 1.2s forwards
}

@keyframes sparkFly {
    to {
        transform: translate(var(--x), var(--y)) rotate(240deg);
        opacity: 0
    }
}