.modal-backdrop {
    position: fixed;
    inset: 0;
    background: #0c0710cc;
    backdrop-filter: blur(12px);
    z-index: 80;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .35s
}

.modal-backdrop.open {
    opacity: 1;
    visibility: visible
}

.modal-inner {
    width: min(700px, 92vw);
    background: #2b1b2bad;
    border: 1px solid #f2b9c933;
    border-radius: 10px;
    padding: 45px;
    color: white;
    transform: translateY(20px) scale(.96);
    transition: .4s
}

.modal-backdrop.open .modal-inner {
    transform: none
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 18px;
    background: none;
    border: 0;
    color: #e8c2cc;
    font-size: 25px;
    cursor: pointer
}